<!DOCTYPE html>
<html>
<head>
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<title>初心-在线商城</title>
	<meta name="keywords" content="" />
	<meta name="description" content=""/>
	<!--可共用-->
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/ns_common.css">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/ns_color_style.css">
</head>
<body>
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/register.css"/>
	<script src="__PUBLIC__/js/layer.js"></script>
	<div class="header w990">
		<div class="logo-info">
			<a href="http://localhost/666666/index.php" class="web-logo-a"><img alt="logo" src="__PUBLIC__/picture/logo.png" class="weblogo"/></a>
		</div>
	</div>
	<div class="reg-content">
		<div class="w990">
			<div class="reg-form">
				<div class="reg-con">
					<div class="reg-type">
						<ul class="clearfix">
							<li class="active" ><a href="javascript:void(0);">Demo</a></li>
						</ul>
					</div>
					<div class="reg-wrap" style="margin-bottom:360px;">
						{$info}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="site-footer">
		<div class="footer-related">
			<div class="footer-info">
				<div class="info-text">
					<!-- 底部导航 -->
					<div class="txt" id="bottom_copyright">
						河北溜溜网络科技有限公司 版权所有<br>
						Copyright © 2018 All Rights Reserved | 初心 - 杨瑞超
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>